.container {
    height: inherit;
    width: 100%;
    border: solid red;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.community-images img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    object-position: center;
    transform: none; 
}


@media screen and (max-width: 800px) {
    .container .community-images:not(:first-child) {
    display: none;
  }
  /* .container:first-child img {
    width: 100vw;
    object-fit: fill;
  } */
}

